/* Start Variables */

.srv-tag {
  font-size: 100px;
  text-align: center;
  color: #77777759;
  margin: 10px 0 0;
  width: 100%;
}
.srv-tag + p {
  text-align: center;
  margin-top: -45px;
  color: #333;
  width: 100%;
}

@media (max-width: 767px) {
  .srv-tag {
    font-size: 60px;
  }
  .srv-tag + p {
    font-size: 15px;
    margin: -30px;
  }
}

/* End Variables */

/* Start Global Rules */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4655;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/* End Global Rules */

/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
  z-index: 1;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 25px;
}

.header .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
}

.header .icon span:nth-child(2) {
  width: 70%;
  transition: 0.3s ease-out;
}

.header .links ul {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f6f6f6;
  top: calc(100% + 20px);
  display: none;
  min-width: 200px;
  transition: 0.3s ease;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #f6f6f6 transparent;
  right: 2.5px;
  top: -20px;
}

.header .links li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s ease;
}

.header .links li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

/* End Header */

/* Start Landing Section */
.landing {
  background-image: url(../Images/3899617.webp);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
  min-width: 80%;
}
.landing .intro-txt .heading {
  color: var(--main-color);
  margin: 0;
  text-align: center;
  font-size: 50px;
  line-height: 1.8;
}

.landing .intro-txt .txt {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/* End Landing Section */

/* Start Features */

.features {
  padding: 60px 0;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: gap;
}
.features .container .feat {
  padding: 20px;
  text-align: center;
}

.features .container .feat i {
  color: var(--main-color);
  font-size: 50px;
}

.features .container h3 {
  font-weight: 800;
  margin: 20px 0;
  font-size: 20px;
}

.features .container p {
  line-height: 1.5;
  font-size: 16px;
}
/* End Features */

/* Start Services */
/* 
.services .container .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.services .container .service-content .col {
  display: flex;
  flex-direction: column;
}

.services .container .service-content .col .srv {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  /* box-shadow: -10px 0px 30px -20px black; */
  /* margin: 10px;
}
.services .container .service-content .col .srv i {
  color: var(--main-color);
  font-size: 45px;
}

.services .container .service-content .col .srv div {
  padding: 10px;
}

.services .container .service-content .col .srv div .srv-ttl {
  margin: 0;
  font-size: 25px;
  text-align: center;
}

.services .container .service-content .col .srv div p {
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
}

.services .container .service-content .col:last-child {
  position: relative;
}

.services .container .service-content .col:last-child img {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 400px;
  overflow: hidden;
  align-self: flex-end;
  margin-top: 141.125px;
}

.services .container .service-content .col:last-child img::after{
  content: "";
  height: calc(100% + 60px);
  width: 60px;
  background-color: var(--secondary-color);
  position: absolute;
  right: -30px;
  top: -60px;
} */
/* @media (max-width:991px){
  .services .container:nth-child(2) .col img{
    display: none;
  }
}
 */ 

 

/* End Services */
